.svg {
    display: none;
  }
  .container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row {
    width: 100%;
  }
  .stateBox {
    display: flex;
    flex-direction: column;
    width: 488px;
    height: 980px;
    padding: 16px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #474442;
    background: #f1eee4;
  }
  .title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }
  .title span {
    color: #474442;
    text-align: center;
    font-family: NanumGothicCoding;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    text-transform: uppercase;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .stateAtt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
  }
  .stateAtt div {
    display: flex;
    height: 38px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border: 1px solid #474442;
    background: #f1eee4;
  }
  .stateAtt span {
    display: flex;
    width: 120px;
    height: 40px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    border: 1px solid #f1eee4;
    background: #474442;
    color: #f1eee4;
    text-align: center;
    font-family: "Capitolina";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    text-transform: uppercase;
  }
  
  .filledBox {
    width: 38px;
    height: 38px;
    background-color: #474442 !important; /* Filled color */
    border: 1px solid #474442;
  }
  
  .emptyBox {
    width: 38px;
    height: 38px;
    background-color: #f1eee4; /* Empty color */
    border: 1px solid #474442;
  }
  