.container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  margin-bottom: 16px;
}

.stateBox {
  display: flex;
  flex-direction: column;
  width: 488px;
  height: 982px;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #474442;
  background: #f1eee4;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.title span {
  color: #474442;
  text-align: center;
  font-family: 'Nanum Gothic Coding', 'Merriweather';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.statIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}

.stateAtt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.stateAtt div {
  display: flex;
  height: 38px;
  padding: 0px 8px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border: 1px solid #474442;
  background: #f1eee4;
}

.stateAtt span {
  display: flex;
  width: 140px;
  height: 40px;
  padding: 0px 8px;
  align-items: center;
  gap: 8px;
  border: 1px solid #f1eee4;
  background: #474442;
  color: #f1eee4;
  text-align: center;
  font-family: 'Nanum Gothic Coding', 'Merriweather';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}

.emptyBox {
  width: 38px;
  height: 38px;
  background-color: #f1eee4;
  border: 1px solid #474442;
}

.filledBox {
  width: 38px;
  height: 38px;
  background-color: #474442 !important;
  border: 1px solid #474442;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
