/* Flip card container */
.champion-cards-container {
    text-align: center;
    max-width: 1280px; /* Set container max width */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* Flexbox for the cards */
  .cards-grid {
    display: flex; /* Use flexbox for alignment */
    flex-wrap: wrap; /* Allow the cards to wrap onto the next line */
    gap: 16px; /* Maintain a 16px gap between each card */
    justify-content: flex-start; /* Align the cards to the left */
    align-items: flex-start; /* Align items at the top */
  }
  
  