.flex-stat-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.statbox-collection{
    position: relative;
    top: 4px;
}
/* Main container with the background image (CollectionSide.svg) */
.main-container {
    position: relative;
    /* So that decoration can be positioned relative to this */
    width: 1388px;
    height: 982px;
    background-image: url('/images/CollectionSide.svg');
    /* Set the background image */
    background-size: cover;
    /* Ensure the image covers the entire container */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Ensure no repeat for the background image */
    display: flex;
    /* Use flexbox to manage the layout */
    flex-direction: column;
    /* Ensure children stack vertically */
    padding-top: 24px;
    margin-top: 4px;
}

/* Decoration image (ContainderDeco.webp), now positioned relative to the main container */
.container_deco {
    position: absolute;
    height: 1140px;
    left: -206px;
    top: -72px;
    z-index: 10;
}

/* Content section that will be rendered inside the main container */
.main-container__content {
    position: relative;
    z-index: 20;
    /* Ensures content is on top of the decoration */
    width: 100%;
    padding-left: 40px;

}