/* General Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border: 2px solid #474442;
    position: relative;
    margin: 4px;
    background-color: rgba(241, 238, 228, 0.5)
    ;
  }
  
  /* Logo Section */
  .navbar__logo {
    height: 100%;
    background-color: transparent;
  }
  
  .navbar__logo-img {
    height: 100%;
    width: 200px;
    margin-left: 16px;
  }
  
  /* Links Section */
  .navbar__links {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
  
  /* Individual Link Styles */
  .navbar__link {
    font-family: 'Nanum Gothic Coding', 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #474442;
    text-decoration: none;
    padding: 8px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  /* Sign-In Link Special Case */
  .navbar__link--signin {
    display: flex;
    align-items: center;
    cursor: not-allowed;
  }
  
  /* Divider Between Links */
  .navbar__divider {
    width: 2px;
    height: 100%;
    background-color: #474442;
  }
  
  /* Right Section (Sign In & Play Game) */
  .navbar__right {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
  
  .navbar__icon {
    margin-left: 4px;
  }
  
  /* Play Game Button */
  .navbar__play-button {
    background-color: #E94F2D;
    color: #292827;
    border: none;
    padding: 0 40px;
    font-family: 'Nanum Gothic Coding', 'Merriweather';
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 2px solid #474442;
    transition: background-color 0.3s;

    cursor: not-allowed;
  }
  
  .navbar__play-button:hover {
    background-color: #d8431e;
  }
  