
.rulesOfPlay {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #F1EEE4;
  }
  
  .rulesOfPlayCard {
    position: absolute;
    width: 120px;
    transform: rotate(40deg);
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.4);
  }
  
  .rulesOfPlayCardCd1 {
    top: 18%;
    left: 10%;
    transform: rotate(40deg);
    width: 200px;
  }
  
  .rulesOfPlayCardCd2 {
    top: 12%;
    left: 6%;
    transform: rotate(20deg);
    width: 200px;
  }
  
  .rulesOfPlayCardCd3 {
    top: 10%;
    left: 3%;
    transform: rotate(4deg);
    width: 200px;
  }
  
  .rulesOfPlayCardPd1 {
    top: 24%;
    right: 3%;
    transform: rotate(-32deg);
    box-shadow: none;
    width: 300px;
    z-index: 3;
  }
  
  .rulesOfPlayCardPd2 {
    top: 16%;
    right: 0%;
    transform: rotate(-6deg);
    box-shadow: none;
    width: 300px;
    z-index: 1;
  }
  
  .rulesOfPlayTitleContainer {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 32px;
  }
  
  .rulesOfPlayTitle {
    font-family: 'Capitolina', serif;
    font-size: 160px;
    color: #E94F2D;
    -webkit-text-stroke: 1.25px #F1EEE4;
    font-weight: 600;
    text-shadow: 3.75px 3.75px 0.55px #292827;
    margin: 0;
    font-weight: 800;
  }

  .rulesOfPlayTitleSmall {
    font-family: 'Capitolina', serif;
    font-size: 72px;
    color: #E94F2D;
    -webkit-text-stroke: 0.75px #F1EEE4;
    font-weight: 600;
    text-shadow: 2px 2px 0.5px #292827;
    position: absolute;
    top: 180px;
    left: 60px;
    font-weight: 800;
  }
  
  .rulesOfPlayTitleLarge {
    font-family: 'Capitolina', serif;
    font-size: 160px;
    color: #E94F2D;
    -webkit-text-stroke: 1.5px #F1EEE4;
    font-weight: 600;
    text-shadow: 4px 4px 0.75px #292827;
    position: absolute;
    top: 160px;
    right: -160px;
    font-weight: 800;
  }
  
  .rulesOfPlayDice {
    position: absolute;
    z-index: 2;
    width: 60px;
  }

  .rulesOfPlayDice1 {
    width: 80px;
    top: 22%;
    left: 22%;
    transform: rotate(-20deg);
  }
  
  .rulesOfPlayDice2 {
    width: 100px;
    top: 12%;
    right: 12%;
    transform: rotate(10deg);
  }
  
  .rulesOfPlayDice3 {
    width: 82px;
    top: 14%;
    left: 19%;
    transform: rotate(-15deg);
  }
  
  .rulesOfPlayCards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
  }
  