/* Packs container */
.packs-container {
    padding: 20px;
    position: relative;
    z-index: 3;
    text-align: center;
}

/* Packs grid layout */
.packs-grid {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Pack images */
.pack-image {
    width: 90%; /* Make the image slightly smaller initially */
    border-radius: 8px;
    margin-bottom: 16px;
    transition: transform 0.3s ease; /* Add smooth transition for scaling */
}

/* Hover effect to enlarge the image */
.pack-image:hover {
    transform: scale(1.05); /* Enlarge image slightly on hover */
}

/* Pack heading */
.pack-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #E94F2D;
}

/* Pack description */
.pack-card p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #474442;
}

/* Button for opening packs */
.packs-button {
    font-family: 'Merriweather', serif;
    background-color: #E94F2D;
    color: #f1eee4;
    border: 1px solid #f1eee4;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: 0 2px 0 #292827;
    box-shadow: 0 2px 0 #292827;
    outline: none;
    transition: transform 0.1s ease;
}

/* Button hover and active effects */
.packs-button:hover {
    background-color: #d8431e; /* Slightly darker on hover */
}

.packs-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #292827;
}
