/* Main container for the single card page */
.singleCardPage {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 72px);
    box-sizing: border-box;
  }
  
  /* Left content styling */
  .leftContent {
    position: relative;
    height: 100%;
    margin-left: 4px;
    overflow-y: auto;
  }
  
  .cardBanner {
    width: 1400px;
    height: auto;
  }
  
  /* Gradient Overlay */
  .cardOverlay {
    position: absolute;
    width: 1400px;
    height: 700px;
    z-index: 1;
    pointer-events: none;
  }
  
  .cardOverlayRight {
    background: linear-gradient(
      to left,
      rgba(241, 238, 228, 1) 0%,
      rgba(241, 238, 228, 0) 50%
    );
  }
  
  .cardOverlayBottom {
    background: linear-gradient(
      to top,
      rgba(241, 238, 228, 1) 0%,
      rgba(241, 238, 228, 0) 50%
    );
  }
  
  .cardInfo {
    padding: 16px;
    background-color: #f1eee4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardImage {
    position: absolute;
    top: 420px;
    left: 40px;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 16px;
    z-index: 10;
  }
  
  .cardTitle {
    font-family: "Capitolina", serif;
    font-size: 88px;
    color: #e94f2d;
    -webkit-text-stroke: 1px #f1eee4;
    font-weight: 700;
    text-shadow: 3.75px 4px 0.55px #292827;
    letter-spacing: -2px;
    font-style: italic;
  }
  
  .strongTitleInfo {
    font-weight: 900;
    color: #292827;
  }
  
  .cardDetails {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 700;
    color: #474442;
  }
  
  .headingCard {
    display: flex;
    gap: 40px;
  }
  
  .cardDetails li {
    margin-bottom: 4px;
  }
  
  .cardH2Title {
    font-family: "Capitolina", serif;
    font-size: 60px;
    color: #e94f2d;
    -webkit-text-stroke: 0.3px #f1eee4;
    font-weight: 700;
    text-shadow: 2px 2px 0.55px #292827;
    letter-spacing: -2px;
    font-style: italic;
  }
  
  /* Toggle Button Styling */
  .toggleLanguageBtn {
    position: relative;
    bottom: -30px;
    height: 60px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 900;
    color: #474442;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .toggleLanguageBtn:hover {
    color: #292827;
  }
  
  /* Right content styling */
  .rightContent {
    width: 488px;
    margin-right: 4px;
    padding-bottom: 4px;
    height: 100%;
    overflow-y: auto;
  }
  
  /* Hide scrollbars but still allow scrolling */
  .leftContent::-webkit-scrollbar,
  .rightContent::-webkit-scrollbar {
    display: none;
  }
  
  .leftContent,
  .rightContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .cardContent {
    position: relative;
    left: 380px;
    top: -180px;
    z-index: 5;
    width: 960px;
  }
  
  .abilitiesList {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .abilitiesList.ltr {
    text-align: left;
    direction: ltr;
  }
  
  .abilitiesList.rtl {
    text-align: right;
    direction: rtl;
  }
  
  .abilitiesList li {
    font-size: 18px;
    margin: 24px 0;
    font-weight: 700;
    color: #474442;
  }
  
  .abilitiesList.rtl li {
    font-family: 'IranianSans', sans-serif;
    letter-spacing: -1px;
  }
  
  .abilitiesText {
    font-weight: 900;
    color: #292827;
  }
  
  .backstoryList {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  .backstoryList.ltr {
    text-align: left;
    direction: ltr;
  }
  
  .backstoryList.rtl {
    text-align: right;
    direction: rtl;
  }
  
  .backstoryList.rtl li {
    font-family: 'IranianSans';
  }
  
  .backstoryList li {
    font-size: 18px;
    margin: 24px 0;
    font-weight: 700;
    color: #474442;
    letter-spacing: -1px;
  }
  